
html {
    scroll-behavior: smooth;

}

body {
    color: rgb(83, 11, 11);
    background-image: url('Imagenes/wallpaper.jpg');
    background-size: cover;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    margin: 0;


}

header {
    color: white;
    font-size: 30px;
    text-shadow: 5px 5px 5px rgb(255, 0, 106);
    background-color: rgb(58, 216, 255);
    font-family: 'Bebas Neue', cursive;
    padding: 20px 1rem;
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}

.navmenu a:hover{
    color: rgb(187, 255, 255);
}

.navmenu ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;

}

.navmenu li {
    margin-right: 1.8rem;
    font-size: 38px;
}

.titulo {
    margin-top: 0;
    margin-bottom: 0;
}

* {
    box-sizing: border-box;
    
}

img {
    width: 100%;
    border-radius: 5px;
    
}

.row{
    display: flex;
    padding: 5px;
}

.colum {
    flex: 25%;
    padding: 5px;
}

.colum img {
    margin-top: 5px;
}

.Titulos {
 text-align: center;
 font-size: 40px;
 margin-bottom: -50px;
 margin-top: -20px;
 
}

.Aespa {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 110px;
    border-radius: 25px;
}

img:hover {
    -webkit-transform:scale(1.03);
    -moz-transform:scale(1.03);
    -ms-transform:scale(1.03);
    -o-transform:scale(1.03);
    transform:scale(1.03);
}

.colum img:hover {
    -webkit-transform:scale(1.10);
    -moz-transform:scale(1.10);
    -ms-transform:scale(1.10);
    -o-transform:scale(1.10);
    transform:scale(1.10);
}

audio {
    margin-left: 20px;
    width: 450px;
    border-style: dashed;
    border-radius: 100px;
    border-color: turquoise;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(58, 216, 255);
}

body::-webkit-scrollbar-thumb {
    background-color: aliceblue;
    border-radius: 10px;
}

.VIVIZ, .WEKI, .WJSN, .Otras {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 150px;
    border-radius: 25px;
}

.Blackpink {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 310px;
    height: 80px;
    border-radius: 25px;
}

.clc {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 150px;
    border-radius: 25px;
}

footer {
    text-align: center;
    letter-spacing: 10px;
    margin-bottom: 15px;
}

footer a {
    font-size: 55px;
    color: rgb(83, 11, 11);
    -webkit-text-stroke: 1px black
    
}

footer a:hover {
    color: aquamarine;
}

footer p {
    margin-bottom: -5px;
    font-size: 40px;
}

.contra {
    font-size: 30px;
    text-align: center;
    font-family: 'Oswald', sans-serif;

}

.colum img {
    transition: 0.5s;
    filter: blur(15px);  
  }

.colum img:hover {
    filter: blur(0);  
  }